body {
    font-family: Arial, sans-serif;
    background-image: url(https://www.bing.com/images/search?view=detailv2&form=SBIHVR&darkschemeovr=1&iss=sbi&q=imgurl:https%3A%2F%2Fprivate-user-images.githubusercontent.com%2F117304134%2F341808774-2757abeb-a706-41cf-853b-7b6593d4baea.jpeg%3Fjwt%3DeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTg5ODQwNzMsIm5iZiI6MTcxODk4Mzc3MywicGF0aCI6Ii8xMTczMDQxMzQvMzQxODA4Nzc0LTI3NTdhYmViLWE3MDYtNDFjZi04NTNiLTdiNjU5M2Q0YmFlYS5qcGVnP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MDYyMSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDA2MjFUMTUyOTMzWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9MmJlOTJhZTYzNmUyZmY3ZWQ1NjRlNDk5ZDVlOWVhOGUxNTFmZWQ1ZmMxNGExYzdlZjEyNTRkMTRkYjY0ZjRkYSZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.vJ9B8iANCeU1dyjhT-EuSW_0-oQ1-zE9lXQlthd1C40&pageurl=https%3A%2F%2Fgithub.com%2Fsumi984%2FHealth-Care-Management.github.io%2Fblob%2Fmain%2FREADME.md&pagetl=Health-Care-Management.github.io%2FREADME.md+at+main+%C2%B7+sumi984%2FHealth-Care-Management.github.io&imgalt=DBMSbackground&imgsz=600x1067&selectedindex=0&id=091D9BA07960A0A4D8227B71DC4EF48ACB8628C4&ccid=gOW1uLy%2F&mediaurl=https%3A%2F%2Fimages.rawpixel.com%2Fimage_600%2FczNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg3MC10YW5nLTM0XzEuanBn.jpg&exph=1067&expw=600&vt=2&cit=bcid_r.6MiAK4QywHEIqwh6ets83DX1M......y8*ccid_%2FoyIArhD&simid=608005273538291646&ck=3719158525B9B1B088B25B8FBBF6245C&thid=OIP.gOW1uLy_5pBa5d7IJ30w2QHaNK);
}

form {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align:center;
}

label {
    display: block;
    margin-top: 1rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#membersList {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
}

.member {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
