body {
    font-family: Arial, sans-serif;
    background-image: url(https://private-user-images.githubusercontent.com/117304134/341808774-2757abeb-a706-41cf-853b-7b6593d4baea.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTg5ODM5NzIsIm5iZiI6MTcxODk4MzY3MiwicGF0aCI6Ii8xMTczMDQxMzQvMzQxODA4Nzc0LTI3NTdhYmViLWE3MDYtNDFjZi04NTNiLTdiNjU5M2Q0YmFlYS5qcGVnP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MDYyMSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDA2MjFUMTUyNzUyWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9NmMzOTkwOTJiMTdmNmY5NWRjZmJjNzE3MTg2YjdlOGE5ZTQzZGVkY2ZlNTYzODBmZjM4N2ZhZGMyMWE2M2ViMyZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.YcGlf_Oe5wSf3_QtLnGvT5hGL5wOOM-IwHzDwsRo1m4);
}

form {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align:center;
}

label {
    display: block;
    margin-top: 1rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#membersList {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
}

.member {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
